.signup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 25px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4) !important;
  backdrop-filter: blur(5px);
  z-index: 1;
}
.error {
  color: red;
  font-size: 0.9em;
}
