<section class="container mt-5 d-flex justify-content-center">
  @if (loading()) {
    <p>Cargando...</p>
  }
  @if (!loading() && user()) {
    <div class="card mt-5 p-3">
      <div class="row">
        <div class="col-md-4 d-flex flex-column align-items-center">
          <div class="text-center mb-3">
            <img
              [src]="user()!.avatar_url"
              class="rounded-circle mb-2"
              alt="avatar"
              width="120"
              height="120"
            />
            <h5 class="card-title">{{ user()!.name }}</h5>
          </div>

          <div class="w-100 text-center">
            <div class="d-flex justify-content-around mb-2">
              <div>
                <strong>{{ user()!.followers }}</strong
                ><br />
                <small>Seguidores</small>
              </div>
              <div>
                <strong>{{ user()!.public_repos }}</strong
                ><br />
                <small>Repos</small>
              </div>
              <div>
                <strong>{{ user()!.following }}</strong
                ><br />
                <small>Siguiendo</small>
              </div>
            </div>
            <p class="mb-2"><strong>Ubicación:</strong></p>
            <p class="mt-2">{{ user()!.location }}</p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="descripcionJuego">
            <h3>Encuentra la bola</h3>
            <p>
              Juego single player, simple, donde el jugador debe adivinar donde esta la bola entre 3
              vasos.
            </p>
            <h4>Reglas</h4>
            <div class="reglas">
              <ul>
                <li class="list-group-item">
                  ✅ Adivina donde esta la bola la mayor cantidad de veces posible
                </li>
                <li class="list-group-item">
                  🔴 Habra una bola roja y tres vasos que se mezclaran
                </li>
                <li class="list-group-item">
                  🧠 Debaras adivinar en que vaso se encuentra la bola
                </li>
                <li class="list-group-item">💔 Si te equivocas, pierdes una vida</li>
                <li class="list-group-item">❌ Si te quedas sin vidas, el juego termina</li>
              </ul>
            </div>
          </div>
          <button class="btn btn-primary mt-3" (click)="abrirGit('https://github.com/avoutsina')">
            Git Hub
          </button>
        </div>
      </div>
    </div>
  }
</section>
