<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Juegarla</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="ms-auto navbar-nav mb-2">
        <li class="nav-item">
          <button
            class="nav-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="router.navigate(['/home'])"
          >
            Home
          </button>
        </li>
        <li class="nav-item">
          <button
            class="nav-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="router.navigate(['/sobre-mi'])"
          >
            Sobre Mí
          </button>
        </li>
        <li class="nav-item">
          <button
            class="nav-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="router.navigate(['/login'])"
          >
            Login
          </button>
        </li>
        <li class="nav-item">
          <button
            class="nav-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="router.navigate(['/sign-up'])"
          >
            Registrarse
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
