<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']">Juegarla</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="ms-auto navbar-nav mb-2 mb-lg-0 align-items-lg-center">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/home']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Home
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/sobre-mi']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Sobre mí
          </a>
        </li>

        @if (!usuario()) {
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/login']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Login
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/sign-up']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Registro
            </a>
          </li>
        } @else {
          <li class="nav-item">
            <span class="nav-link text-muted small">{{
              usuario()?.user_metadata?.['nombre']
            }}</span>
          </li>
          <li class="nav-item navbar-brand">
            <button class="btn btn-outline-danger btn-sm ms-2" (click)="cerrarSesion()">
              Cerrar sesión
            </button>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
